doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css")
    link(rel='stylesheet', href='/bootstrap/css/ample-bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-deffault.navbar-fixed-top 
      .container 
        .nabar-header 
          a.navbar-brand(href='/') Loc8r 
            button.navbar-toggle(type='button', data-toggle='collapse', data=target='#navbar-main')
              span.icon-bar 
              span.icon-bar 
              span.icon-bar 
          #navbar-main.navbar-collapse.collapse 
              ul.nav.navbar-nav 
                  li 
                    a(href='/about') About
        
    .container 
      block content

      footer 
          .row 
            .col-xs-12 
              small &copy; j0y0nt 2024
    script(src="/bootstrap/js/jquery.min.js") 
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/javascripts/validation.js") 
